<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Info</th>
    <th>Link</th>
    <th>Total downloads</th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @ruby_gem.name %></td>
      <td><%= @ruby_gem.description %></td>
      <td><%= @ruby_gem.link %></td>
      <td><%= @ruby_gem.total_downloads %></td>
    </tr>
  </tbody>
</table>