<div class="row">
  <div class="title">
    <h2 class="col-sm-3">All Users</h2>
    <h2 class="col-sm-1 col-sm-offset-8">
      <%= link_to "", new_user_path, html_options = {class: "glyphicon glyphicon-plus green", title: "Create new user"} %>
    </h2>
  </div>
</div>

<div class="row">
  <%= render partial: "users/users_list", locals: {users: @users} %>
  <%= render partial: "layouts/pagination", locals: {model: @users} %>
</div>