<div class="row">
  <div class="title">
    <h2 class="col-sm-3">Your Projects</h2>
    <h2 class="col-sm-1 col-sm-offset-8">
      <%= link_to "", new_user_project_path, html_options = {class: "glyphicon glyphicon-plus green",
                                                             title: "Create new project", id: "show-project-form-button", remote: true} %>
      <%= link_to "", nil, html_options = {class: "glyphicon glyphicon-minus red display-none", id: "hide-project-form-button",
                                           title: "Hide form"} %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="container notifications display-none" id="project-notifications">
    <%= render partial: "layouts/notifications" %>
  </div>
  <div id="project-form" style="display: none;"></div>
</div>

<div class="row" id="user-projects">
  <% if !@user_projects.present? %>
    <h3>Add your first project! Push green cross!</h3>
  <% else %>
    <%= render partial: "project_list", locals: {projects: @user_projects} %>
  <% end %>
</div>
