/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

body
  font-size: 200%

.navbar-brand
  font-size: 140%

.dropdown-menu
  font-size: 90%

ul li a
  font-size: 110%

.alert
  text-align: center

a:link, a:visited
  width: auto
  text-decoration: none
  color: black

.green
  color: green !important

.red
  color: red !important

html, body
  height: 100%

.wrap
  min-height: 100%
  overflow: auto
  padding-bottom: 80px

.footer
  position: relative
  height: 80px
  clear: both
  color: gray
  margin-top: -80px
  padding-top: 10px
  background-color: #f8f8f8
  border-color: #e7e7e7
  border: solid 1px
  border-radius: 4px